@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    --background-color: #f5f5f5;
    --text-color: black;
    --primary: #161880;
    --secondary: #0a6cdc;
    --yellow: #ffbc03;
    --green:#3dc781;
    --cerise:#E52F69;
}
.no-scroll {
    overflow: hidden;
}

html * {
    outline: 0 !important;
}
body{
    position: relative;
    margin: 0;
    font-family: "DM Sans",Arial,Helvetica,sans-serif;
    background-color: var(--background-color);
}
header{
    background-color: var(--primary) ;
    transition: 0.3s ease;
    position: relative;
    z-index: 99;
}
#top-header{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 15px 10px 10px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    transition: 0.3s ease;
}

#logo-image{
    height: 55px;
}

#top-header-middle{
    padding: 3px 20px;
    justify-content: space-between;
    align-items: center;
    width: 527px;
    display: flex;
    background-color: white;
    border-radius: 50px;
    border-style: none;
}

#search-form{
    width: 90%;
}
#search-input-box{
    border-style: none;
    flex: 1;
    width: 100%;
    font-size: 25px;
    max-width: 100%;
}

.top-header-right{
    width:292px;
    display: flex;
    justify-content: space-between;
}
#top-header-right{
    width:148px;
    position: relative;
    justify-content: center;
}

.top-header-right-icons{
    position: relative;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    transition: 0.3s ease;
}
#top-header-right .top-header-right-icons{
    margin-left: 8px;
}
.top-header-right-icons div{
    color: var(--background-color);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.top-header-right-icons:hover div{
    font-size: 16px;
    color: var(--yellow);
    transition: 0.3s ease;
}
#top-header a{
    text-decoration: none;
}
.cart-button{
    position: relative;

}
.cart-badge{
    position: absolute;
    top: 0;
    right: -5px;
    background-color: var(--secondary);
    font-size: 14px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}#down-header {
     display: flex;
     justify-content: center;
     background-color: var(--primary);
     position: sticky;
     z-index: 9999;
     top: 0;
     transition: 0.4s ease;
     align-items: center;
     padding-top: 10px;
 }
.header-bottom-right{
    opacity: 0;
    position: relative;
    width: 148px;
    margin-right: 25px;
    overflow: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, height 0.3s ease, transform 0.3s ease;
}

.logo-fixed {
    opacity: 0;
    height: 0;
    width: 148px;
    overflow: hidden;
    margin-left: 25px;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, height 0.3s ease, transform 0.3s ease;
}

#down-header.sticky .logo-fixed {
    opacity: 1;
    height: auto;
    transform: translateY(0);
    transition: opacity 0.3s ease, height 0.3s ease, transform 0.3s ease;

}
#down-header.sticky .header-bottom-right {
    opacity: 1;
    height: auto;
    transform: translateY(0);
    transition: opacity 0.3s ease, height 0.3s ease, transform 0.3s ease;

}




#logo-image2{
    height: 55px;

}
.down-header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 15px 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
}

.navPages-list{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.navPages-list-icons a:hover{
    font-size: 23px ;
    transition: 0.3s ease;
}
.navPages-list-icons{
    text-decoration: none;
    list-style: none;
}
.navPages-hidden{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);

}
.navPages-list-icons .navPages-hidden {
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    position: absolute;
    left: 0;
    transform: translateY(20px);

    /*bottom: -21px;*/
}
.navPages-hidden .transparent{
    height: 16px;
    width: 100%;
    color: transparent;
}
.navPages-hidden-container{
    background-color: white;
    height: 600px;
}
.navPages-hidden-container-inside-top div{
    /*background-color: red;*/
    width: 20%;

}
.navPages-hidden-container-inside{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1400px;
    width:100%;
    /*background-color: red;*/
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #0a6cdc;*/
    height: 100%;
}

.navPages-list-icons:hover .navPages-hidden {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);

}
.cart-right-panel.sticky, .login-panel.sticky{
    padding-top: 15px;
}
.cart-right-panel, .login-panel{
    display: block;
    position: fixed;
    right:0;
    height: 100vw;
    content: " ";
    background-color: white;
    z-index: 2;
    top:77px ;
    width: 500px;
    padding-top: 100px;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    padding-right: 20px;
}
.login-panel-container{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    text-align: left;
}
.login-panel-container label{
    padding-top: 50px;
    font-size: 18px;
}
.login-panel-container input, .login-panel-container button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 17px;
}
.login-panel-container input[type="submit"], .login-panel-container button{
    cursor: pointer;
    background-color: var(--yellow);
    border: 0;
    font-size: 17px;
    transition: 0.3s ease;
}
.login-panel-container input[type="submit"]:hover, .login-panel-container button:hover{
    transform: scale(1.03);
    transition: 0.3s ease;

}

.login-panel-container form{
    justify-content: center;
    width: 80%;
}
.cart-right-panel b, .login-panel b{
    font-size: 30px;
    width: 100%;
    text-align: center;
    display: block;
}

.display-cart{
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease;
    transform: translateX(0px);
}
.display-login{
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease;
    transform: translateX(0px);
}

.main{
    position: relative;
}
.navPages-list-icons:hover{

}
.navPages-hidden-container-inside-top b{
    font-size: 25px;
}
.col1 a {
    margin-bottom: 15px;
    color: black;
}
.col1 a div{
    color: black;
}
.col1, .col1 div a{
    line-height: 40px;
}
.col1 div{
    width: 100%;
    font-size: 18px;
}

.col1 div {
    position: relative;
    transition: 0.3s ease;
}
.col1 div a{
    color: black;
    justify-items: left;
    justify-content: left;
}
.col1 div:hover{
    transform: scale(1.03);
}

.col1 b:hover{
    transform: scale(1.03);
}
.col1 b{
    transition: ease 0.3s;
}

.col1 div::before {
    content: "> ";
    font-size: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    position: absolute;
    left: -30px; /* Adjust the position if needed */
}

.col1 div:hover::before {
    opacity: 1;
    transform: translateX(10px); /* Adjust the translate value if needed */
}


.navPages-hidden-container-inside-top{
    margin-top: 15px;
    height: 40%;
    /*background-color: #FFBC03;*/
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;

    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}
.overlay-dark{
    display: none;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    top: 162px;
    position: absolute;
    z-index: 1;
    transition: 0.3s ease;

}

.navPages-hidden-container-inside-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    max-width: 1400px;
    /*background-color: red;*/
}
.navPages-hidden-container-inside img{
    width: 22%;
    border-radius: 25px;
    transition: ease 0.3s;

}
.navPages-hidden-container-inside img:hover{
    transform: scale(1.03);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.12);
}

li{
    padding-inline-start: 0;
}
.navPages-list-icons a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    color: white;
    font-size: 22px;
    transition: 0.3s ease;
    position: relative;
    height: 30px;
}
.active-navbar a{
    color: var(--yellow);
    border: 2px;
}
ul {
    padding-inline-start: 0;
    list-style: none;
}

.test{
    position: absolute;
    background-color: var(--green);
    margin-top: -45px;
    margin-right: -65px;
    padding: 0 5px;
    font-size: 12px;
    z-index: 3;
    color: white;
    border-radius: 5px;
}
#accessories-badge{
    margin-right: -115px;
    background-color: var(--cerise);
}

/* Slide show ------------------------------------------- */
* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 47vh; /* Set a fixed height */
}

/* Hide the slides by default */
.mySlides {
    display: none;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.slides-captions {
    color: #f2f2f2;
    font-size: 3.5vw; /* Responsive font size */
    padding: 8px 12px;
    position: absolute;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    max-width: 27%;
    top: 20%;
    left: 10%;
    /*background-color: red;*/
}
.slides-captions2 {
    text-align: left;
    color: #f2f2f2;
    font-size: 1.35vw; /* Responsive font size */
    padding: 8px 0;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    max-width: 500px;
    top: 40%;
    left: 10%;
    /*background-color: green;*/
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: rgba(255, 255, 255, 0.81);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: rgb(255, 255, 255);
}
.dots-container {
    position: absolute;
    top: 95%;
    width: 100%;
    text-align: center;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
.slides-captions span{
    font-size: 30px;
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 50px;
    border: 1px solid white;
    font-weight: normal;
}
#animationContainer{
    width: 25px;
}
.shipping-custom-block{
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    max-width: 1400px;
    padding: 0  0;
}
.shipping-custom-block-container{
    background-color: #ffffff;
    box-shadow: 1px -1px 5px rgba(2, 2, 2, 0.85);
    padding: 5px 25px;
    margin-left: 0;

}
.custom-block-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    border-left: 1px;
    border-left-color: #FFBC03;
    padding-right: 30px;
    padding-left: 30px;
    /*box-shadow: 2px -1px 5px rgba(2, 2, 2, 0.85);*/
    color: var(--primary);
    transition: 0.3s ease;
}
.custom-block-item:hover {
    font-size: 27px;
}
#animationContainer, #animationContainer1, #animationContainer3{
    margin-right: 10px;
    color: var(--primary);
}
.line{

    left: 35.333%;
    font-size: 30px;
    color: #FFBC03;
}
.line2{
    left: 60.333%;
    font-size: 30px;
    color: #FFBC03;
}

#gallery-home {
    max-width: 1400px;
    flex-wrap: wrap;
    margin: 20px auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery-home-small-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; /* Let the height be determined by the aspect ratio */
}

.gallery-home-small {
    position: relative;
    margin: 10px;
    width: calc(33% - 20px); /* Adjust the width to account for margin */
    aspect-ratio: 16 / 11; /* Maintain a 16:9 aspect ratio */
    border-radius: 25px;
    overflow: hidden;
    transition: 0.3s ease;
}
.gallery-home-small:hover{
    transform: scale(1.03);
    box-shadow: 1px -1px 5px rgba(2, 2, 2, 0.49);
}

.gallery-home-small img, #gallery-home-big img {
    width: 100%;
}

#gallery-home-big-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; /* Let the height be determined by the aspect ratio */
}
main{
    overflow: hidden;
}

#gallery-home-big {
    position: relative;
    margin: 10px;
    width: calc(100% - 20px); /* Adjust the width to account for margin */
    aspect-ratio: 16 / 5; /* Maintain a 16:5 aspect ratio */
    border-radius: 25px;
    overflow: hidden;
    opacity: 1;
    /*transform: translateY(20px);*/
    transition: opacity 0.3s ease, transform 0.3s ease;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.in-view {
    /*animation: fadeInUp 0.6s forwards;*/
}

#gallery-home-big:hover {
    transform: scale(1.01);
    box-shadow: 1px -1px 5px rgba(2, 2, 2, 0.49);
}



.home-content{
    background: #ffffff;
    box-shadow: 1px 0 5px rgba(2, 2, 2, 0.6);

}

.feature-products-container h2 {
    width: 100%;
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 60px;
}
.feature-products-container h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: var(--yellow);
    left: 0;
    right: 0;
    bottom: -20px;
}
.shop-by-category{
    text-align: center;
    padding-top: 10px;
    max-width: 1400px;
    flex-wrap: wrap;
    margin: auto auto;
}
.shop-by-category-title{
    margin-top: 10px;
    text-align: center;
    font-size:30px;
    font-weight: bold;
}
.category-image{
    margin-top: 15px;
    width: 180px;
    height: 180px;
    background: rgba(236, 236, 236, 0.53);
    border-radius: 50%;

}

.category-image img{
    width: 110%;}

.category-card{
    justify-content: center;
    display: flex;
    width: 250px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 25px;
    font-weight: normal;
    position: relative;
    transition: 0.3s ease;
}
.category-name{
    position: absolute;
    font-size: 30px;
    color:black;
    bottom: 15px;
    font-weight: normal;
}
.shop-by-category-grid{
    justify-content: center;
    text-align: center;
    margin-top:15px ;
    display: grid;
    gap: 10px;
    padding: 10px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    align-content: start; /* Start the grid items at the top */


}

 .category-card:hover{
    transform: scale(1.03);
    box-shadow: 1px 1px 5px rgba(2, 2, 2, 0.37);
}
.product-grid::after {
    content: "";
    flex-grow: 999999999;
    min-width: 200px;
    order: 999999999;
}
.shop-by-category-show-more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;


}

a{
    text-decoration: none;

}
.show-more{
    width: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 22px;
    border-radius: 25px;
    border: 1px solid black;
    transition: 0.3s ease;
    color: black;
}
.show-more div{
    margin-right: 3px;
}

.show-more:hover{
    transform: scale(1.03);
    box-shadow: 1px -1px 5px rgba(2, 2, 2, 0.22);
}

.get-offers-div{
    border-bottom: 1px solid white;
    background-color: var(--primary);
    flex-wrap: wrap;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    gap:100px;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 7px;
}
.get-offers-div div:nth-child(3){
    font-size: 15px;
}
.get-offers-div div:nth-child(4){
    position: relative;
    display: flex;
    background-color: white;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    overflow: hidden;
}
.get-offers-div div:nth-child(4) input[type="email"]{
    width: 375px;
    font-size: 17px;
    border: none;
    margin-left: 10px;

}
.get-offers-div div:nth-child(4) input[type="submit"]{
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: var(--yellow);
    border: none;
    width: 100px;
    transition: 0.3s ease;
}
.get-offers-div div:nth-child(4) input[type="submit"]:hover{
    transform: scale(1.05);
}

.get-offers-div-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding-top: 2px;
}
.footer-container{
    width: 100%;

}
footer{
    justify-content: center;
    display: flex;
    background-color: var(--primary);
    color: white;
    padding-top: 10px;
}
.footer-container-top{
    display: flex;
    max-width: 1400px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    background-color: var(--primary);
    margin-left: auto;
    margin-right: auto;
}

.footer-container-top > div{
    display: block;
    width: 32%;
    /*background-color: red;*/
    line-height: 30px;
}
.navbar-footer a, .navbar-footer a:hover .navbar-footer{
    color: white;
    transition: 0.3s ease;
}


.navbar-footer > a:hover::before {
    transition: 0.3s ease;
    color: white;
    content: "> ";
    font-weight: bold;
    font-size: 20px;
}
.navbar-footer div{
    padding-top: 15px;
    font-size: 30px;
    display: flex;
    gap: 16px;
}

.navbar-footer div i:hover{
    transform: scale(1.1);
    color: var(--yellow);
    transition: 0.3s ease;
}

.feature-products-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    gap: 10px;
    row-gap: 30px;
    justify-items: center; /* Centers items horizontally within their grid cells */
    align-items: center;   /* Centers items vertically within their grid cells */
}


.product-card {
    width: 300px;
    height: 480px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    /*margin: 30px auto;*/
    background: #fafafa;
    transition: ease 0.3s;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    padding: 20px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}


.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    color: black;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}
.product-card:hover{
    transform: scale(1.03);
    transition: 0.3s ease;
}