@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poetsen+One&display=swap');

#title{
    margin: 0 20px;
    font-family: "Lexend", sans-serif;
    font-size: 35px;
    color: #4a4a53;
    display: none;
    transition: 0.3s ease;

}

@media only screen and (min-width: 1024px) {
    .container {
        width: 70%;
    }

}
@media only screen and (min-width: 1350px) {
    .container {
        width: 70%;
    }
    #title{
        display: flex;
        animation: slideIn 300ms forwards; /* Apply the slideIn animation */
        font-family: "Lexend", sans-serif;
        transition: 0.3s ease;

    }
    @keyframes slideIn {
        from {
            opacity: 0;
            font-size: 0;
            transform: translateX(+100%);
        }
        to {
            opacity: 1;
            font-size: 35px;
            transform: translateX(0);
        }
    }

}

/*header---------------------------------------*/

header {
    padding: 5px 30px;
    background-color: white;
    position: sticky;
    top:0;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.23) 0 0 10px;
}

body{
    margin: 0;
}
#MenuH{
    display: flex;
    justify-content: center;
    align-items: center;
}
#MenuH li{
    list-style: none;
    padding: 0 25px;
    position: relative;

}
#MenuH li a{
    text-decoration: none;
    color: #4a4a53;
    font-size: 25px;
    font-family: "Radio Canada Big", sans-serif;
    transition: 0.3s ease;
}
.icons{
    width:30px;
    height:30px;
    --lord-icon-primary: #4a4a53;
    margin-right: 10px;
    transition: 0.3s ease;
}
#MenuH li a:hover, #MenuH li a.active, #MenuH li a.active .icons
{
    color: #f6750a;
    font-size: 26px;
    --lord-icon-primary: #f6750a;

}
#MenuH li a.active::after
{

        content: ''; /* Required for pseudo-elements */
        position: absolute; /* Position the underline relative to the outer div */
        left: 27px; /* Start from the left side */
        bottom: -5px; /* Adjust as needed */
        width: 30%; /* 25% of the width of the outer div */
        height:3px; /* Adjust thickness */
        background-color: #f6750a; /* Color of the underline */
        transition: width 0.3s ease; /* Add transition effect */
        z-index: -1; /* Push the underline below the content */
        border-radius: 15px; /* Adjust the value as needed for the desired roundness */

}
#MenuH li a:hover .icons{
    --lord-icon-primary: #f6750a;
    width:31px;
    height:31px;
}


.menuBar{
    align-items: center;
    display: flex;
}
#main{
    z-index: -1;
}
